---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: postgresqldatabases.core.envcd.io
spec:
  group: core.envcd.io
  names:
    kind: PostgresqlDatabase
    listKind: PostgresqlDatabaseList
    plural: postgresqldatabases
    singular: postgresqldatabase
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Current status of the database
      jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PostgresqlDatabase is the Schema for the postgresqldatabases
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PostgresqlDatabaseSpec defines the desired state of PostgresqlDatabase.
            properties:
              name:
                type: string
            required:
            - name
            type: object
          status:
            description: PostgresqlDatabaseStatus defines the observed state of PostgresqlDatabase.
            properties:
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
